/* -------------------------------------------- */
/* Reset                                        */
/* -------------------------------------------- */

/* Source: https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
p {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for buttons */
button {
  font: inherit;
}

/* -------------------------------------------- */
/* General Styles                               */
/* -------------------------------------------- */

body {
  background-color: hsl(227 11% 15%);
  color: hsl(234 22% 37%);
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: hsl(0 0% 96%);
  width: 317px;
  border-radius: 10px;
}

/* -------------------------------------------- */
/* Specific Styles                               */
/* -------------------------------------------- */

/* Info Section (Header) */

.info-sec {
  text-align: center;
}

.info-sec > img {
  border-radius: 10px 10px 0px 0px;
}

.info-sec h1 {
  font-size: 25px;
  margin-top: 20px
}

.info-sec h3 {
  font-size: 13px;
  color: hsl(25 90% 55%);
  font-weight: 400;
  margin-bottom: 9px;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  padding: 9px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  width: 115px;
  margin-top: 17px;
}

button img {
  margin-right: 10px;
}

.email-button {
  background-color: #fff;
  color: hsl(217 19% 27%);
  margin-right: 17px;
  border: 1px solid #D1D5DB;
}

.linkedin-button {
  background-color: #297FE5;
  color: #fff;
  border: none;
}

/* About Section */

.about-sec {
  margin: 25px 35px 0px;
  background-color: hsl(0 0% 96%);
}

.about-sec h2 {
  font-size: 16px;
  color: hsl(250 18% 19%);
}

/* Interests Section */

.interests-sec {
  margin: 25px 35px 50px;
  background-color: hsl(0 0% 96%);
}

.interests-sec h2 {
  font-size: 16px;
  color: hsl(250 18% 19%);
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  background-color: hsl(255 5% 84%);
  padding: 20px 70px;
  border-radius: 0px 0px 10px 10px;
}